In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("data/housing.csv", na_values='')

In [3]:
# count the rows of data with missing values (out of a total of 20,640)
len(data[data.isnull().any(axis=1)])

207

In [4]:
cleaned_data = data.copy()

In [5]:
"""
we fill missing values with mean values; 
alternative is to drop all rows with NaN by 
cleaned_data = .dropna(axis=0,how='any')
"""

cleaned_data = cleaned_data.fillna(data.mean())

In [6]:
cleaned_data = pd.get_dummies(cleaned_data, drop_first=False)

In [7]:
cleaned_data.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity_<1H OCEAN',
       'ocean_proximity_INLAND', 'ocean_proximity_ISLAND',
       'ocean_proximity_NEAR BAY', 'ocean_proximity_NEAR OCEAN'],
      dtype='object')

In [8]:
""" --------------------------------------------------------------------
define numerical and categorical (binary coded) variables 
-------------------------------------------------------------------- """
target = ["median_house_value"]
numerical = ["longitude", "latitude", "housing_median_age",
                 "total_rooms", "total_bedrooms", "population",
                 "households", "median_income"]
categorical = ["ocean_proximity_<1H OCEAN", "ocean_proximity_INLAND", 
               "ocean_proximity_ISLAND", "ocean_proximity_NEAR BAY", 
               "ocean_proximity_NEAR OCEAN"]

In [9]:
scaler = StandardScaler()

In [10]:
scaler.fit(cleaned_data[numerical])

StandardScaler(copy=True, with_mean=True, with_std=True)

In [11]:
data_numerical = scaler.transform(cleaned_data[numerical])

In [12]:
data_numerical = pd.DataFrame(data_numerical)

In [13]:
data_numerical.columns = cleaned_data[numerical].columns

In [14]:
data_numerical.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,-1.327835,1.052548,0.982143,-0.804819,-0.975228,-0.974429,-0.977033,2.344766
1,-1.322844,1.043185,-0.607019,2.045890,1.355088,0.861439,1.669961,2.332238
2,-1.332827,1.038503,1.856182,-0.535746,-0.829732,-0.820777,-0.843637,1.782699
3,-1.337818,1.038503,1.856182,-0.624215,-0.722399,-0.766028,-0.733781,0.932968
4,-1.337818,1.038503,1.856182,-0.462404,-0.615066,-0.759847,-0.629157,-0.012881

In [15]:
cleaned_data[categorical].head()

,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,0,0,0,1,0
1,0,0,0,1,0
2,0,0,0,1,0
3,0,0,0,1,0
4,0,0,0,1,0

In [16]:
""" --------------------------------------------------------------------
concatenate the rows holding (scaled) numerical and categorical values 
-------------------------------------------------------------------- """

cleaned_data = pd.concat([data_numerical, cleaned_data[categorical], 
                              data[target]], axis=1, sort=False)

In [17]:
cleaned_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,median_house_value
0,-1.327835,1.052548,0.982143,-0.804819,-0.975228,-0.974429,-0.977033,2.344766,0,0,0,1,0,452600.0
1,-1.322844,1.043185,-0.607019,2.045890,1.355088,0.861439,1.669961,2.332238,0,0,0,1,0,358500.0
2,-1.332827,1.038503,1.856182,-0.535746,-0.829732,-0.820777,-0.843637,1.782699,0,0,0,1,0,352100.0
3,-1.337818,1.038503,1.856182,-0.624215,-0.722399,-0.766028,-0.733781,0.932968,0,0,0,1,0,341300.0
4,-1.337818,1.038503,1.856182,-0.462404,-0.615066,-0.759847,-0.629157,-0.012881,0,0,0,1,0,342200.0

In [18]:
cleaned_data.to_csv('data/cleaned_data.csv', sep=',', index=False)